<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo3.test.dao.CrawlerLogMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo3.test.dao.CrawlerLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cra_source" property="craSource" jdbcType="INTEGER" />
    <result column="cra_type" property="craType" jdbcType="INTEGER" />
    <result column="cra_param" property="craParam" jdbcType="VARCHAR" />
    <result column="cra_date" property="craDate" jdbcType="DATE" />
    <result column="cra_isalive" property="craIsalive" jdbcType="INTEGER" />
    <result column="cra_creater" property="craCreater" jdbcType="VARCHAR" />
    <result column="cra_info" property="craInfo" jdbcType="VARCHAR" />
    <result column="cra_threadnum" property="craThreadnum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cra_source, cra_type, cra_param, cra_date, cra_isalive, cra_creater, cra_info, 
    cra_threadnum
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from CRAWLER_LOG
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getAllCrawler" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from CRAWLER_LOG
    where cra_isalive = '1'
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from CRAWLER_LOG
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo3.test.dao.CrawlerLog" >
    insert into CRAWLER_LOG (id, cra_source, cra_type, 
      cra_param, cra_date, cra_isalive, 
      cra_creater, cra_info, cra_threadnum
      )
    values (#{id,jdbcType=INTEGER}, #{craSource,jdbcType=INTEGER}, #{craType,jdbcType=INTEGER}, 
      #{craParam,jdbcType=VARCHAR}, #{craDate,jdbcType=DATE}, #{craIsalive,jdbcType=INTEGER}, 
      #{craCreater,jdbcType=VARCHAR}, #{craInfo,jdbcType=VARCHAR}, #{craThreadnum,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo3.test.dao.CrawlerLog" >
    insert into CRAWLER_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="craSource != null" >
        cra_source,
      </if>
      <if test="craType != null" >
        cra_type,
      </if>
      <if test="craParam != null" >
        cra_param,
      </if>
      <if test="craDate != null" >
        cra_date,
      </if>
      <if test="craIsalive != null" >
        cra_isalive,
      </if>
      <if test="craCreater != null" >
        cra_creater,
      </if>
      <if test="craInfo != null" >
        cra_info,
      </if>
      <if test="craThreadnum != null" >
        cra_threadnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="craSource != null" >
        #{craSource,jdbcType=INTEGER},
      </if>
      <if test="craType != null" >
        #{craType,jdbcType=INTEGER},
      </if>
      <if test="craParam != null" >
        #{craParam,jdbcType=VARCHAR},
      </if>
      <if test="craDate != null" >
        #{craDate,jdbcType=DATE},
      </if>
      <if test="craIsalive != null" >
        #{craIsalive,jdbcType=INTEGER},
      </if>
      <if test="craCreater != null" >
        #{craCreater,jdbcType=VARCHAR},
      </if>
      <if test="craInfo != null" >
        #{craInfo,jdbcType=VARCHAR},
      </if>
      <if test="craThreadnum != null" >
        #{craThreadnum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo3.test.dao.CrawlerLog" >
    update CRAWLER_LOG
    <set >
      <if test="craSource != null" >
        cra_source = #{craSource,jdbcType=INTEGER},
      </if>
      <if test="craType != null" >
        cra_type = #{craType,jdbcType=INTEGER},
      </if>
      <if test="craParam != null" >
        cra_param = #{craParam,jdbcType=VARCHAR},
      </if>
      <if test="craDate != null" >
        cra_date = #{craDate,jdbcType=DATE},
      </if>
      <if test="craIsalive != null" >
        cra_isalive = #{craIsalive,jdbcType=INTEGER},
      </if>
      <if test="craCreater != null" >
        cra_creater = #{craCreater,jdbcType=VARCHAR},
      </if>
      <if test="craInfo != null" >
        cra_info = #{craInfo,jdbcType=VARCHAR},
      </if>
      <if test="craThreadnum != null" >
        cra_threadnum = #{craThreadnum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo3.test.dao.CrawlerLog" >
    update CRAWLER_LOG
    set cra_source = #{craSource,jdbcType=INTEGER},
      cra_type = #{craType,jdbcType=INTEGER},
      cra_param = #{craParam,jdbcType=VARCHAR},
      cra_date = #{craDate,jdbcType=DATE},
      cra_isalive = #{craIsalive,jdbcType=INTEGER},
      cra_creater = #{craCreater,jdbcType=VARCHAR},
      cra_info = #{craInfo,jdbcType=VARCHAR},
      cra_threadnum = #{craThreadnum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>