<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo3.test.dao.PicInstanceMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo3.test.dao.PicInstance" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PIC_NAME" property="picName" jdbcType="VARCHAR" />
    <result column="PIC_URL" property="picUrl" jdbcType="VARCHAR" />
    <result column="PIC_TYPECODE" property="picTypecode" jdbcType="INTEGER" />
    <result column="PIC_SOURCE" property="picSource" jdbcType="INTEGER" />
    <result column="PIC_ORIURL" property="picOriurl" jdbcType="VARCHAR" />
    <result column="PIC_SAVEDATE" property="picSavedate" jdbcType="DATE" />
    <result column="PIC_HASDOWN" property="picHasdown" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    ID, PIC_NAME, PIC_URL, PIC_TYPECODE, PIC_SOURCE,PIC_ORIURL,PIC_SAVEDATE,PIC_HASDOWN
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PICINSTANCE
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <select id="getAllPic" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List" />
    from PICINSTANCE
    where 1=1
    <if test='type != null and type != 0'>
      and PIC_TYPECODE=#{type}
    </if>
    <if test='source != null and source != 0'>
      and PIC_SOURCE=#{source}
    </if>
  </select>

  <select id="getRandomPic" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from PICINSTANCE
    ORDER BY  RAND() LIMIT 20
  </select>

  <select id="getNeeddownpic" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from PICINSTANCE
    where PIC_HASDOWN = 0
  </select>

  <select id="getPicdata" resultType="java.util.Map">
    select count(PIC_HASDOWN=0) nodown,count(PIC_HASDOWN=1) hasdown, count(*) allnum from PICINSTANCE
  </select>

  <select id="getNeeddownpicTest" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from PICINSTANCE
    where PIC_HASDOWN = 0 limit 20
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PICINSTANCE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.example.demo3.test.dao.PicInstance" >
    insert into PICINSTANCE (ID, PIC_NAME, PIC_URL, 
      PIC_TYPECODE, PIC_SOURCE,PIC_ORIURL,PIC_SAVEDATE,PIC_HASDOWN)
    values (#{id,jdbcType=VARCHAR}, #{picName,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR}, 
      #{picTypecode,jdbcType=INTEGER}, #{picSource,jdbcType=INTEGER},#{picOriurl,jdbcType=VARCHAR},#{picSavedate,jdbcType=DATE},#{picHasdown,jdbcType=INTEGER})
  </insert>


  <update id="updateByPrimaryKey" parameterType="com.example.demo3.test.dao.PicInstance" >
    update PICINSTANCE
    set PIC_NAME = #{picName,jdbcType=VARCHAR},
      PIC_URL = #{picUrl,jdbcType=VARCHAR},
      PIC_TYPECODE = #{picTypecode,jdbcType=INTEGER},
      PIC_SOURCE = #{picSource,jdbcType=INTEGER},
      PIC_ORIURL = #{picOriurl,jdbcType=VARCHAR},
      PIC_SAVEDATE = #{picSavedate,jdbcType=DATE},
      PIC_HASDOWN = #{picHasdown,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>