<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo3.test.dao.PicSourceMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo3.test.dao.PicSource" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="SOURCE_NAME" property="sourceName" jdbcType="VARCHAR" />
    <result column="SOURCE_CODE" property="sourceCode" jdbcType="INTEGER" />
    <result column="SOURCE_URL" property="sourceUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, SOURCE_NAME, SOURCE_CODE, SOURCE_URL
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PICSOURCE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PICSOURCE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo3.test.dao.PicSource" >
    insert into PICSOURCE (ID, SOURCE_NAME, SOURCE_CODE, 
      SOURCE_URL)
    values (#{id,jdbcType=VARCHAR}, #{sourceName,jdbcType=VARCHAR}, #{sourceCode,jdbcType=INTEGER}, 
      #{sourceUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo3.test.dao.PicSource" >
    insert into PICSOURCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="sourceName != null" >
        SOURCE_NAME,
      </if>
      <if test="sourceCode != null" >
        SOURCE_CODE,
      </if>
      <if test="sourceUrl != null" >
        SOURCE_URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sourceName != null" >
        #{sourceName,jdbcType=VARCHAR},
      </if>
      <if test="sourceCode != null" >
        #{sourceCode,jdbcType=INTEGER},
      </if>
      <if test="sourceUrl != null" >
        #{sourceUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo3.test.dao.PicSource" >
    update PICSOURCE
    <set >
      <if test="sourceName != null" >
        SOURCE_NAME = #{sourceName,jdbcType=VARCHAR},
      </if>
      <if test="sourceCode != null" >
        SOURCE_CODE = #{sourceCode,jdbcType=INTEGER},
      </if>
      <if test="sourceUrl != null" >
        SOURCE_URL = #{sourceUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo3.test.dao.PicSource" >
    update PICSOURCE
    set SOURCE_NAME = #{sourceName,jdbcType=VARCHAR},
      SOURCE_CODE = #{sourceCode,jdbcType=INTEGER},
      SOURCE_URL = #{sourceUrl,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>