<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/bootstrap-paginator.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .page{
            display: flex;
            flex-direction: column;
        }
        .page .title{
            font-size: 20px;
            text-align: center;
            background-color: aqua;
        }
        .page .nav{
            display: flex;
            flex-direction: column;
        }
        .page .nav .pictype,.page .nav .picsource{
            display: flex;
            flex-direction: row;
            align-items: center;

        }
        .page .nav .pictype .typeitem,.page .nav .picsource .sourceitem{
            padding: 5px;
        }
        .page .nav .pictype .typeitem.selected,.page .nav .picsource .sourceitem.selected{
            color:red;
        }
        .page .content{
            margin-top: 20px;
            padding: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .page .content .piccell{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 25%;
            padding: 10px;
        }
        .page .content .piccell .picsrc{
            width: 75%;
            height: 350px;
        }
    </style>
</head>
<body>
<div class="page">
    <!-- 标题 -->
    <div class="title">图床</div>
    <!-- 导航栏 -->
    <div class="nav">
        <!-- 图片类型 -->
        <div class="pictype">
            图片类型：<div  class="typeitem" value="0" onclick="settype()">全部</div>
            <div th:each="type:${allType}" th:text="${type.typeName}" class="typeitem" th:value="${type.typeCode}" onclick="settype()">default message</div>
        </div>
        <!-- 图片来源 -->
        <div class="picsource">
            图片来源：<div  class="sourceitem" value="0" onclick="setsource()">全部</div>
            <div th:each="source:${allSource}" th:text="${source.sourceName}" class="sourceitem" th:value="${source.sourceCode}" onclick="setsource()">default message</div>
        </div>
    </div>
    <!-- 图片展示内容 -->
    <div class="content">
        <div th:each="pic:${allPic.list}" class="piccell">
            <img th:src="${nginxsite}+${pic.picUrl}" class="picsrc"/>
            <!--<span th:text="${pic.picName}" />-->
        </div>
    </div>
    <div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:99;width:100%;height:100%;display:none;">
        <div id="innerdiv" style="position:absolute;">
            <img id="bigimg" style="border:5px solid #ffffff;" src="" />
        </div>
    </div>
    <div id="example" style="text-align: center"> <ul id="pagination" class=""></ul> </div>
    <div id="pagelimit">
    </div>
        <input type="hidden" id="typeCode" name="typeCode" th:value="${type}"/>
        <input type="hidden" id="sourceCode" name="sourceCode" th:value="${source}"/>
<!--    <input type="hidden" id="pageNum" name="pageNum" th:value="${allPic.pageNum}" />-->
<!--    <input type="hidden" id="pages" name="pages" th:value="${allPic.pages}" />-->
<!--    <input type="hidden" id="pageSize" name="pageSize" th:value="${allPic.pageSize}" />-->
    <!-- 底部 -->
    <div class="footer">
        <a href="./admin/startcrawler">启动爬虫</a>
        <a href="./randompic">随机图片</a>
        <a href="./admin/getAllCrawler">爬虫进度查看</a>
    </div>
</div>
</body>
<script>
    $(function (){
        $(".typeitem").each(function (){
            $(this).removeClass("selected")
            if($(this).attr("value")==$("#typeCode").attr("value")){
                $(this).addClass("selected")
            }
        })
        $(".sourceitem").each(function (){
            $(this).removeClass("selected")
            if($(this).attr("value")==$("#sourceCode").attr("value")){
                $(this).addClass("selected")
            }
        })
        //console.log("参数:"+$("#typeCode").attr("value"))
        //console.log("参数:"+$("#sourceCode").attr("value"))
    })

</script>

<!--设置查询参数-->
<script>
<!--设置类型参数-->
    function settype(event) {
        event = event ? event : window.event;
        var obj = event.srcElement ? event.srcElement : event.target;
//这时obj就是触发事件的对象，可以使用它的各个属性
//还可以将obj转换成jquery对象，方便选用其他元素
        var $obj = $(obj);
        $("#typeCode").attr("value",$obj.attr("value"))
        window.location = '?pageNum='+'2'+'&typecode='+$("#typeCode").attr("value")+'&sourcecode='+$("#sourceCode").attr("value");
    }
<!--设置来源参数-->
    function setsource(event) {
        event = event ? event : window.event;
        var obj = event.srcElement ? event.srcElement : event.target;
        var $obj = $(obj);
        $("#sourceCode").attr("value",$obj.attr("value"));
        window.location = '?pageNum='+'2'+'&typecode='+$("#typeCode").attr("value")+'&sourcecode='+$("#sourceCode").attr("value");
    }

</script>


<!--分页生成js代码-->
<script th:inline="javascript">
    $(function(){
// 使用bootstrap paginator初始化页面
        $('#pagination').bootstrapPaginator({
            bootstrapMajorVersion:3,
//pageInfo.pageNum是当前页面的页码
            currentPage:[[${allPic.pageNum}]],
//pageInfo.pages是总页数
            totalPages:[[${allPic.pages}]],
//配置页面跳转函数，向后端传入数据，发送跳转请求,
//type：选择的页码所显示的文字，如第一页默认type为first
//page:选择的页码
//current：当前页码
            pageUrl:function(type,page,current)
            {
                return '?pageNum='+page+'&typecode='+$("#typeCode").attr("value")+'&sourcecode='+$("#sourceCode").attr("value");
            },

            itemTexts:function(type,page, current)
            {//文字翻译
                switch (type) {
                    case "first":
                        return "首页";
                    case "prev":
                        return "上一页";
                    case "next":
                        return "下一页";
                    case "last":
                        return "尾页";
                    case "page":
                        return page;
                }
            }
        });
    });
</script>
<!--分页代码结束-->
<!--图片点击查看大图js-->
<script>
    $(function(){
        $(".picsrc").click(function(){
            var _this = $(this);//将当前的pimg元素作为_this传入函数
            imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
        });
    });
    function imgShow(outerdiv, innerdiv, bigimg, _this){
        var src = _this.attr("src");//获取当前点击的pimg元素中的src属性
        $(bigimg).attr("src", src);//设置#bigimg元素的src属性

        /*获取当前点击图片的真实大小，并显示弹出层及大图*/
        $("<img/>").attr("src", src).load(function(){
            var windowW = $(window).width();//获取当前窗口宽度
            var windowH = $(window).height();//获取当前窗口高度
            var realWidth = this.width;//获取图片真实宽度
            var realHeight = this.height;//获取图片真实高度
            var imgWidth, imgHeight;
            var scale = 0.8;//缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放

            if(realHeight>windowH*scale) {//判断图片高度
                imgHeight = windowH*scale;//如大于窗口高度，图片高度进行缩放
                imgWidth = imgHeight/realHeight*realWidth;//等比例缩放宽度
                if(imgWidth>windowW*scale) {//如宽度扔大于窗口宽度
                    imgWidth = windowW*scale;//再对宽度进行缩放
                }
            } else if(realWidth>windowW*scale) {//如图片高度合适，判断图片宽度
                imgWidth = windowW*scale;//如大于窗口宽度，图片宽度进行缩放
                imgHeight = imgWidth/realWidth*realHeight;//等比例缩放高度
            } else {//如果图片真实高度和宽度都符合要求，高宽不变
                imgWidth = realWidth;
                imgHeight = realHeight;
            }
            $(bigimg).css("width",imgWidth);//以最终的宽度对图片缩放

            var w = (windowW-imgWidth)/2;//计算图片与窗口左边距
            var h = (windowH-imgHeight)/2;//计算图片与窗口上边距
            $(innerdiv).css({"top":h, "left":w});//设置#innerdiv的top和left属性
            $(outerdiv).fadeIn("fast");//淡入显示#outerdiv及.pimg
        });

        $(outerdiv).click(function(){//再次点击淡出消失弹出层
            $(this).fadeOut("fast");
        });
    }
</script>

</html>
